xml/schema.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="regions">
            <oneOrMore>
	        <ref name="Region"/>
            </oneOrMore>
        </element>
    </start>

    <define name="Region">
        <element name="region">
            <attribute name="id">
                <data type="token">
		    <param name="pattern">[a-z][a-z_]*</param>
		</data>
            </attribute>
            <attribute name="name">
                <data type="token"/>
            </attribute>

            <zeroOrMore>
                <ref name="Section"/>
            </zeroOrMore>

        </element>
    </define>

    <define name="Section">
        <element name="section">
	    <choice>
	        <group>
                    <attribute name="name"><value>Communications</value></attribute>
                    <zeroOrMore>
                        <ref name="SubsectionCommunications"/>
                    </zeroOrMore>
		</group>
	        <group>
                    <attribute name="name"><value>Economy</value></attribute>
                    <zeroOrMore>
                        <ref name="SubsectionEconomy"/>
                    </zeroOrMore>
		</group>
	        <group>
	            <attribute name="name"><value>Energy</value></attribute>
                    <zeroOrMore>
                        <ref name="SubsectionEnergy"/>
                    </zeroOrMore>
		</group>
	        <group>
                    <attribute name="name"><value>Geography</value></attribute>
                    <zeroOrMore>
                        <ref name="SubsectionGeography"/>
                    </zeroOrMore>
		</group>
	        <group>
                    <attribute name="name"><value>Government</value></attribute>
                    <zeroOrMore>
                        <ref name="SubsectionGovernment"/>
                    </zeroOrMore>
		</group>
	        <group>
                    <attribute name="name"><value>Introduction</value></attribute>
		    <zeroOrMore>
                        <ref name="SubsectionIntroduction"/>
		    </zeroOrMore>
		</group>
	        <group>
                    <attribute name="name"><value>Military and Security</value></attribute>
                    <zeroOrMore>
                        <ref name="SubsectionMilitary"/>
                    </zeroOrMore>
		</group>
	        <group>
                    <attribute name="name"><value>People and Society</value></attribute>
                    <zeroOrMore>
                        <ref name="SubsectionPeopleAndSociety"/>
                    </zeroOrMore>
		</group>
	        <group>
                    <attribute name="name"><value>Terrorism</value></attribute>
                    <zeroOrMore>
                        <ref name="SubsectionTerrorism"/>
                    </zeroOrMore>
		</group>
	        <group>
                    <attribute name="name"><value>Transnational Issues</value></attribute>
                    <zeroOrMore>
                        <ref name="SubsectionTransnational"/>
                    </zeroOrMore>
		</group>
	        <group>
                    <attribute name="name"><value>Transportation</value></attribute>
                    <zeroOrMore>
                        <ref name="SubsectionTransportation"/>
                    </zeroOrMore>
		</group>
            </choice>
        </element>
    </define>

    <define name="SubsectionIntroduction">
        <element name="subsection">
            <attribute name="name">
                <choice>
                    <value>Background</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>

    <define name="SubsectionGeography">
        <element name="subsection">
            <attribute name="name">
                <choice>
		    <value>Location</value>
		    <value>Geographic coordinates</value>
		    <value>Map references</value>
		    <value>Area</value>
		    <value>Area - comparative</value>
		    <value>Land boundaries</value>
		    <value>Coastline</value>
		    <value>Maritime claims</value>
		    <value>Climate</value>
		    <value>Terrain</value>
		    <value>Elevation</value>
		    <value>Natural resources</value>
		    <value>Land use</value>
		    <value>Irrigated land</value>
		    <value>Population - distribution</value>
		    <value>Natural hazards</value>
		    <value>Environment - current issues</value>
		    <value>Environment - international agreements</value>
		    <value>Geography - note</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>

    <define name="SubsectionPeopleAndSociety">
        <element name="subsection">
            <attribute name="name">
                <choice>
                    <value>Age structure</value>
                    <value>Birth rate</value>
                    <value>Children under the age of 5 years underweight</value>
                    <value>Contraceptive prevalence rate</value>
                    <value>Death rate</value>
                    <value>Demographic profile</value>
                    <value>Dependency ratios</value>
                    <value>Drinking water source</value>
                    <value>Education expenditures</value>
                    <value>Ethnic groups</value>
                    <value>Health expenditures</value>
                    <value>HIV/AIDS - adult prevalence rate</value>
                    <value>HIV/AIDS - deaths</value>
                    <value>HIV/AIDS - people living with HIV/AIDS</value>
                    <value>Hospital bed density</value>
                    <value>Infant mortality rate</value>
                    <value>Languages</value>
                    <value>Life expectancy at birth</value>
                    <value>Literacy</value>
                    <value>Major infectious diseases</value>
                    <value>Major urban areas - population</value>
                    <value>Maternal mortality ratio</value>
                    <value>Median age</value>
                    <value>Mother's mean age at first birth</value>
                    <value>Nationality</value>
                    <value>Net migration rate</value>
                    <value>Obesity - adult prevalence rate</value>
                    <value>People - note</value>
                    <value>Physicians density</value>
                    <value>Population</value>
                    <value>Population distribution</value>
                    <value>Population growth rate</value>
                    <value>Religions</value>
                    <value>Sanitation facility access</value>
                    <value>School life expectancy (primary to tertiary education)</value>
                    <value>Sex ratio</value>
                    <value>Total fertility rate</value>
                    <value>Unemployment, youth ages 15-24</value>
                    <value>Urbanization</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>

    <define name="SubsectionGovernment">
        <element name="subsection">
            <attribute name="name">
                <choice>
                    <value>Country name</value>
                    <value>Government type</value>
                    <value>Capital</value>
                    <value>Administrative divisions</value>
                    <value>Independence</value>
                    <value>National holiday</value>
                    <value>Constitution</value>
                    <value>Legal system</value>
                    <value>International law organization participation</value>
                    <value>Citizenship</value>
                    <value>Suffrage</value>
                    <value>Executive branch</value>
                    <value>Legislative branch</value>
                    <value>Judicial branch</value>
                    <value>Political parties and leaders</value>
                    <value>International organization participation</value>
                    <value>Diplomatic representation in the US</value>
                    <value>Diplomatic representation from the US</value>
                    <value>Flag description</value>
                    <value>National symbol(s)</value>
                    <value>National anthem</value>
                    <value>Dependency status</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>

    <define name="SubsectionCommunications">
        <element name="subsection">
            <attribute name="name">
                <choice>
                    <value>Telephones - fixed lines</value>
                    <value>Telephones - mobile cellular</value>
                    <value>Telephone system</value>
                    <value>Broadcast media</value>
                    <value>Internet country code</value>
                    <value>Internet users</value>
                    <value>Broadband - fixed line subscriptions</value>
                    <value>Communications - note</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>

    <define name="SubsectionEconomy">
        <element name="subsection">
            <attribute name="name">
                <choice>
                    <value>Economy - overview</value>
                    <value>GDP (purchasing power parity)</value>
                    <value>GDP (official exchange rate)</value>
                    <value>GDP - real growth rate</value>
                    <value>GDP - per capita (PPP)</value>
                    <value>Gross national saving</value>
                    <value>GDP - composition, by end use</value>
                    <value>GDP - composition, by sector of origin</value>
                    <value>Agriculture - products</value>
                    <value>Industries</value>
                    <value>Industrial production growth rate</value>
                    <value>Labor force</value>
                    <value>Labor force - by occupation</value>
                    <value>Unemployment rate</value>
                    <value>Population below poverty line</value>
                    <value>Household income or consumption by percentage share</value>
                    <value>Distribution of family income - Gini index</value>
                    <value>Budget</value>
                    <value>Taxes and other revenues</value>
                    <value>Budget surplus (+) or deficit (-)</value>
                    <value>Public debt</value>
                    <value>Fiscal year</value>
                    <value>Inflation rate (consumer prices)</value>
                    <value>Central bank discount rate</value>
                    <value>Commercial bank prime lending rate</value>
                    <value>Stock of narrow money</value>
                    <value>Stock of broad money</value>
                    <value>Stock of domestic credit</value>
                    <value>Market value of publicly traded shares</value>
                    <value>Current account balance</value>
                    <value>Exports</value>
                    <value>Exports - commodities</value>
                    <value>Exports - partners</value>
                    <value>Imports</value>
                    <value>Imports - commodities</value>
                    <value>Imports - partners</value>
                    <value>Reserves of foreign exchange and gold</value>
                    <value>Debt - external</value>
                    <value>Stock of direct foreign investment - at home</value>
                    <value>Stock of direct foreign investment - abroad</value>
                    <value>Exchange rates</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>

    <define name="SubsectionEnergy">
        <element name="subsection">
            <attribute name="name">
                <choice>
                    <value>Electricity access</value>
                    <value>Electricity - production</value>
                    <value>Electricity - consumption</value>
                    <value>Electricity - exports</value>
                    <value>Electricity - imports</value>
                    <value>Electricity - installed generating capacity</value>
                    <value>Electricity - from fossil fuels</value>
                    <value>Electricity - from nuclear fuels</value>
                    <value>Electricity - from hydroelectric plants</value>
                    <value>Electricity - from other renewable sources</value>
                    <value>Crude oil - production</value>
                    <value>Crude oil - exports</value>
                    <value>Crude oil - imports</value>
                    <value>Crude oil - proved reserves</value>
                    <value>Refined petroleum products - production</value>
                    <value>Refined petroleum products - consumption</value>
                    <value>Refined petroleum products - exports</value>
                    <value>Refined petroleum products - imports</value>
                    <value>Natural gas - production</value>
                    <value>Natural gas - consumption</value>
                    <value>Natural gas - exports</value>
                    <value>Natural gas - imports</value>
                    <value>Natural gas - proved reserves</value>
                    <value>Carbon dioxide emissions from consumption of energy</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>

    <define name="SubsectionMilitary">
        <element name="subsection">
            <attribute name="name">
                <choice>
                    <value>Military expenditures</value>
                    <value>Military branches</value>
                    <value>Military service age and obligation</value>
                    <value>Military - note</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>

    <define name="SubsectionTerrorism">
        <element name="subsection">
            <attribute name="name">
                <choice>
                    <value>Terrorist groups - home based</value>
                    <value>Terrorist groups - foreign based</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>

    <define name="SubsectionTransnational">
        <element name="subsection">
            <attribute name="name">
                <choice>
                    <value>Disputes - international</value>
                    <value>Refugees and internally displaced persons</value>
                    <value>Trafficking in persons</value>
                    <value>Illicit drugs</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>

    <define name="SubsectionTransportation">
        <element name="subsection">
            <attribute name="name">
                <choice>
                    <value>National air transport system</value>
                    <value>Civil aircraft registration country code prefix</value>
                    <value>Airports</value>
                    <value>Airports - with paved runways</value>
                    <value>Airports - with unpaved runways</value>
                    <value>Pipelines</value>
                    <value>Roadways</value>
                    <value>Merchant marine</value>
                    <value>Ports and terminals</value>
                    <value>Heliports</value>
                    <value>Railways</value>
                    <value>Waterways</value>
		</choice>
	    </attribute>
            <zeroOrMore>
                <ref name="DataNode"/>
            </zeroOrMore>
	</element>
    </define>


    <define name="DataNode">
        <element name="data">
            <text/>

            <!-- Data nemaji vzdycky nazev, nekdy je to obecny obsah podsekce -->
            <optional>
                <attribute name="name">
                    <text/>
                </attribute>
            </optional>

        </element>
    </define>

</grammar>
