xml/schema.dtd

<!ELEMENT regions (region+)>

<!ELEMENT region  (section*)>
<!ATTLIST region
	id ID #REQUIRED
	name NMTOKENS #REQUIRED>

<!ELEMENT section (subsection*)>
<!ATTLIST section
	name CDATA #REQUIRED>

<!ELEMENT subsection (data*)>
<!ATTLIST subsection
	name CDATA #REQUIRED>

<!ELEMENT data (#PCDATA)>
<!ATTLIST data
	name CDATA #IMPLIED>
